<div class="food-dash-container">
  <div class="chips-container">
    <mat-chip-list *ngFor="let day of days">
      <mat-chip class="chip-after" (focus)="selectDay(day)">{{day}}</mat-chip>
    </mat-chip-list>
  </div>
  <div class="meals-chips-container">
    <mat-chip-list *ngFor="let meal of meals">
      <mat-chip class="chip-after" (focus)="selectMeal(meal)">{{meal}}</mat-chip>
    </mat-chip-list>
  </div>
  <div class="all-meals">
    <div *ngFor="let food of foodList">
      <div *ngIf="food.day.includes(daySelected)">
        <div *ngIf="food.meal === mealSelected" >
          <mat-card class="meal-container">
            <mat-card-title>{{food.name}}</mat-card-title>
            <mat-card-content>{{food.description}}</mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
  <div class="notes-buttons">
    <button mat-button routerLink="/food">View All</button>
  </div>
</div>
