<mat-card class="view-port">
<!--<div class="container">-->
<!--  <ngx-simple-calendar></ngx-simple-calendar>-->
<!--</div>-->

<!--<div class="container">-->
<!--  <ngx-simple-calendar [options]="options1"></ngx-simple-calendar>-->
<!--</div>-->
  <div class="full-calendar-container">
    <div class="calendar-container">
<!--<div class="container" *ngIf="userEvents">-->

<!--  <ngx-simple-calendar [options]="options2" [events]="userEvents">-->
<!--    <ng-template #day-->
<!--                 let-date="number" let-events="events" let-active="today" let-weekend="weekend">-->

<!--      <div class="round-date" [class.active]="active" [class.weekend]="weekend">-->
<!--        <span>{{date}}</span>-->
<!--        <div class="events">-->
<!--          <div class="event"-->
<!--               [style.background-color]="color"-->
<!--               *ngFor="let event of events"-->
<!--               [title]="event.name + event.description + event.location"></div>-->
<!--        </div>-->
<!--      </div>-->

<!--    </ng-template>-->
<!--  </ngx-simple-calendar>-->

<!--</div>-->
<app-calendar-build [userEvent] = "userEvents"></app-calendar-build>
<button (click)="addEvent()">Add event</button>
        </ng-template>
      </ngx-simple-calendar>
    </div>
  </div>
  <button mat-raised-button color="primary" (click)="addDate()" style="position: absolute">Add event</button>
  <div class="tasks-container">
    <h3>Tasks</h3>
    <div *ngIf="tasks.length > 0; else noTasks" class="tasks"
         style="gap: 1rem;display: flex;flex-direction: column;">
      <div *ngFor="let task of tasks">
        <mat-card class="dash-task-view" (mouseover)="taskDetails.style.display = 'block'" (mouseleave)="taskDetails.style.display = 'none'">
          <mat-card-title class="task-title-container">
            {{task.taskName}}
            <mat-icon class="task-todo" (click)="toggleStatus(task)" *ngIf="!task.taskStatus">radio_button_unchecked</mat-icon>
            <mat-icon class="task-done" (click)=toggleStatus(task) *ngIf="task.taskStatus">task_alt</mat-icon>
          </mat-card-title>
          <div class="dash-task-hidden" #taskDetails>
            <mat-card-content>
              {{task.taskText}}
            </mat-card-content>
            <h3 *ngIf="task.taskStatus; else statusFalse">Status: Done</h3>
            <ng-template #statusFalse>
              <h3>Status: To do!</h3>
            </ng-template>
            <div >
              <button mat-raised-button color="accent" (click)="editingTask(task)">Edit</button>
              <button mat-raised-button color="accent" (click)="deleteTask(task)">Delete</button>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
  <ng-template #noTasks>Add Some tasks</ng-template>

</mat-card>
