
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$front-angular-material-primary: mat-palette($mat-indigo);
$front-angular-material-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$front-angular-material-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$front-angular-material-theme: mat-light-theme((
  color: (
    primary: $front-angular-material-primary,
    accent: $front-angular-material-accent,
    warn: $front-angular-material-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($front-angular-material-theme);

/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.menu-icon {
  font-size: 20px;
}

.sidenav {
  img {
    height: 50px;
    margin: 7px 22px;
  }
}

.header-container {
  display: inline-flex;
  align-items: center;
  margin: 10px 14px;
  width: 98.5%;
  gap: 20px;
  justify-content: space-between;
}

.mat-card-content {
  margin-bottom: 0!important;
}

.mat-form-field-wrapper {
  padding: 0;
  margin: 0;
}

.grid-container {
  margin: auto!important;
}

.user-settings-container {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  justify-content: center;

  .user-settings-button {
    gap: 10px;
    display: flex;
    align-items: center;
  }
}

.search-input {
  width: 59.1vw;
}



.view-port {
  height: 79.8vh;
  width: 87.7vw;
  margin: 15px auto;
}


.login-card-container {
  max-width: 800px;
  margin: auto;
  top: 20%;
  display: inline-flex;

  .login-card-content {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;

    .welcome-message {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 20px;

      img {
        transform: scale(.7);
      }

      h3 {
        font-size: 24px;
        width: 20ch;
        text-align: -webkit-center;
      }
    }
  }

  h4 {
    font-family: 'Reenie Beanie', cursive;
    font-size: 2rem;
    color: #fa3346;
    font-weight: 600;
  }

}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;

  .login-input-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
  }
}

.logout-button {
  bottom: 20px;
  left: 20px;
  position: absolute!important;
}
